//公共配置
@css-prefix : mu ;  

@main-color: #108ee9 ;
@color-red: #f95d5e;
@color-green: #3dc58c;
@color-yellow: #fdb331;

i{
	font-size: 14px ;
	&:before{
		font-size: 14px;
		color: #999 ;
	}
}

.logo {
	text-align: center;
	padding-top: 42px;
	padding-bottom: 30px;
	.logo-img{
		width: 60% ;
		margin: 0 auto ;
		padding: 20px 0;
		background-color: @color-red ;
		color: #FFF ;
		font-weight: bold;
		font-size: 24px ;
	}
}