/*!
 * create by txp
 * version:1.0.0
 * email:txp_email@126.com
 * last update:2017-10-23 12:51:31
 */
@charset "UTF-8";
/* CSS Document */
/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
*/
/* 清除内外边距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
bdfgd fieldset,
lengend,
button,
input,
textarea,
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
  list-style: none; }

* {
  margin: 0;
  padding: 0; }

/* 设置默认字体 */
body,
button,
input,
select,
textarea {
  /* for ie */
  font: 14px/1 "\5FAE\8F6F\96C5\9ED1", sans-serif; }

h1 {
  font-size: 18px;
  /* 18px / 12px = 1.5 */ }

h2 {
  font-size: 16px; }

h3 {
  font-size: 14px; }

h4,
h5,
h6 {
  font-size: 100%; }

address,
cite,
dfn,
em,
var {
  font-style: normal; }

/* 将斜体扶正 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace; }

/* 统一等宽字体 */
small {
  font-size: 12px; }

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul,
ol,
li {
  list-style: none;
  list-style-type: none; }

a {
  color: #333; }

/* 重置文本格式元素 */
a {
  text-decoration: none; }

abbr[title],
acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help; }

q:before,
q:after {
  content: ''; }

/* 重置表单元素 */
legend {
  color: #000; }

/* for ie6 */
fieldset,
img {
  border: none; }

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */ }

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 重置 hr */
hr {
  border: none;
  height: 1px; }

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll; }

/*去除ios下默认的按钮样式*/
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none; }

textarea {
  -webkit-appearance: none; }

input[type="button"] {
  border-radius: 0; }

.home-index {
  width: 100%; }
  .home-index .logo {
    text-align: center;
    padding-top: 42px;
    padding-bottom: 30px; }
  .home-index input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 14px; }
  .home-index p {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center; }
  .home-index .logoBox {
    padding: 80px 40px; }
  .home-index .logoBox img {
    width: 100%; }
  .home-index .inputImg {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 5%;
    top: 18px; }
  .home-index .LogBtn_s:active {
    position: relative;
    top: 1px; }
  .home-index .goRegist {
    float: left; }
  .home-index .goRegist a {
    color: #888; }
  .home-index .forget {
    float: right; }
  .home-index .forget a {
    color: #FDCF08; }
  .home-index .server {
    padding-top: 50px; }
  .home-index .server a {
    color: #888888; }
  .home-index .LogBtn {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: #EBEBEB;
    color: white; }
  .home-index .LogBtn_s {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: #Fdcf08;
    color: white; }
  .home-index .LogBtn_s:active {
    position: relative;
    top: 1px; }
