.user-apply{
	.input-money{
		.am-list-content{
			display: flex ;
			overflow: hidden;
			label{
				display: block;
				font-size: 32px ;
			}
			input{
				width: 100%;
				display: block;
				flex: 1 ;
				border: none ;
				outline: none;
				height: 50px ;
				font-size: 32px;
				position: relative;
			}
		}
		
	}
	.show-mony{
		background-color: #108ee9;
		color: #FFF ;
		.show-title{
			font-size: 12px ;
			text-align: center;
			padding-top: 20px ;
		}
		.show-num{
			&:before{
				display: inline-block;
				content: attr(data-txt) ;
			}
			padding: 20px ;
			font-size: 18px ;
			text-align: center;
		}
	}
	.input-money{
		height: 70px ;
		.am-input-label{
			font-size: 32px;
		}

		.fake-input-container{
			height: 50px ;
			line-height: 50px ;
			.fake-input{
				font-size: 32px ;
			}
		}
	}
}
.apply-footer{
	.apply-footer-notice{
		color: @main-color ;
	}
	.apply-footer-btm{
		background-color: @color-red ;
		color: #FFF ;
		padding: 15px ;
		line-height: 1;
		font-size: 14px ;
		font-weight: bold;
		text-align: center;
	}
}
