.home-detail{
	.list{
		.check-tag{
			padding: 2px 7px;
	    	font-size: 10px ;
	    	border-radius: 14px ;
	    	line-height: 1;
	    	background-color: @main-color;
	    	color: #FFF ;
	    	display: initial;
	    	// border: 1px solid #FFF ;
		}
	}
	.user-info{
		display: flex ;
		align-items: center;
		justify-content: space-between ;
		.user-res{
			display: flex ;
		    align-items: center;
		    .user-tag{
		    	padding: 2px 7px;
		    	font-size: 10px ;
		    	border-radius: 14px ;
		    	line-height: 1 ;
		    	color: @main-color ;
		    	border: 1px solid @main-color ;
		    	i{
		    		&:before{
		    			color: @main-color  ;
		    		}
		    	}
		    }
		    i{
		    	padding-left: 10px ;
		    }
		}
		.user-title{
			display: flex ;
		    align-items: center;
			i{
				&:before{
					font-size: 24px;
					line-height: 1;
					color: @color-red ;
				}
				padding-right: 10px;
				display: inline-block;
			}
			span{
				line-height: 1 ;
				font-size: 14px;
				display: inline-block;
				// line-height: 24px;
				// height: 24px ;
				
			}
		}
	}
	.top{
		display: flex ;
		justify-content: space-between ;
		padding: 10px ;
		.item{
			.item-tip{
				font-size: 12px ;
				color: #c9c9c9 ;
				padding-top: 10px;
				text-align: left;
			}
			.item-content{
				display: flex ;
				align-items: center ;
			}
			&:first-child{
				text-align: left;
			}
			&:last-child{
				text-align: right;
				padding-left: 10px ;
			}
			.label{
				font-size: 14px ;
				padding-right: 10px;
				white-space:nowrap ;
			}
			.input-field{
				// flex: 1 ;
				// display: flex ;
				text-align: left;
				border-radius: 24px ;
				font-size: 12px ;
				padding: 6px 12px;
				vertical-align: middle;
				border: 1px solid #c9c9c9 ;
				input{
					outline: none;
					border: none;
					width: 80% ;
					// flex: 1
				}
				span{}
			}
		}
	}
}
.detail-footer{
	background-color: @main-color ;
	color: #FFF ;
	padding: 15px ;
	line-height: 1;
	font-size: 14px ;
	font-weight: bold;
	text-align: center;
}