// 用户详情
.user-detail{
  // background: #fff;
}

.userInfo{
  position: relative;
  margin-top: 12px;
  // background: #fff;
  .J_Avatar {
    // float: left;
    display: inline-block;
    padding: 13px 10px 0 10px;
    img {
      width: 45px;
      height: 45px;
    }
  }
  .J_DetailInfo {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 70px;
    box-sizing: border-box;
    padding: 17px 15px;

    >.userName {
      margin-bottom: 8px;
    }
    >.phoneNum {

    }
  }
  .J_icon {
    position: absolute;
    top: 30px;
    right: 10px;
  }
}

.J_priceWrapper{
  height: 60px;
  padding: 5px 0;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;

  >.J_price{
    // #108ee9
    color: #f76a24;
    font-size: 20px;
    margin-bottom: 6px;
  }
}

.J_operation{
  text-align: center;
  margin-top: 5px;
  >p{
    margin-top: 4px;
  }
  >img{
    width: 40px;
    height: 40px;
  }
}

.J_listWrapper{
  margin: 15px 0 20px;
  .J_listItem{
    position: relative;
    .J_icon{
      position: absolute;
      right: 0;
    }
  }
}

.J_logout{
  margin-top: 10px;
}

.J_steps{
  margin-top: 20px;
}

.J_msgText{
  text-align: center;
}

.J_historyItem{
  margin-top: 10px;
}

.J_input{
  border: none;
  width: 100%;
}
